{% extends 'base_log.html' %} {% load static %}
<!--================Login Box Area =================-->
{% block main_content_log %}
<section class="login_box_area" style="overflow: hidden !important">
  <div class="row">
    <div class="col-lg-7">
      <div class="login_box_img">
        <img
          class="img-fluid"
          src=" {% static 'img/login.jpg' %} "
          style="height: 100vh"
          alt=""
        />
        <div class="hover">
          <h4>New to our website?</h4>
          <p>
            There are advances being made in science and technology everyday,
            and a good example of this is the
          </p>
          <a class="primary-btn" href="{% url 'customerregistration' %}">Create an Account</a>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="login_form_inner">
        <h3>LogIn</h3>
        <form
          class="row login_form"
          action=""
          id="myForm" method="post" novalidate
          autocomplete="false" autofill="false"
        >
        {% csrf_token %}
          {% for fm in form %}

          <div class="col-md-12 form-group">
             {{fm}}<small class="text-danger"
              >{{fm.errors|striptags}}</small
            >
          </div>
          {% endfor %}
          
          <div class="col-md-12 form-group">
            <div class="creat_account">
              <input type="checkbox" id="f-option2" name="selector" />
              <label for="f-option2">Keep me logged in</label>
            </div>
          </div>
{% if form.non_field_errors %}
           {% for error in form.non_field_errors %}
          <p class="alert alert-danger my-3">{{error}}</p>
          {% endfor %} {% endif %}


          <div class="col-md-12 form-group">
            <button type="submit" value="submit" class="primary-btn">
              Log In
            </button>
            <a href="{% url 'password_reset' %}" >Forgot Password?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock main_content_log %}
