{% extends 'base.html' %} {% load static %}
<!--================Login Box Area =================-->
{% block content %}

 <section class="login_box_area " style="overflow:hidden !important">

        <div class="row" style="margin:120px 0">

            <div class="col-lg-12">

                <div class="login_form_inner">
                    <div class="generic-blockquote" style="width:50%;  margin-left: 30%;">
                        <h3>Password Changed Successfully !!</h3>
                        <img src="{% static 'img/check-circle.gif' %}" width="200" />
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock content %}