<!-- Start Banner Area -->

{% extends 'base.html' %} {% load static %}
{% block content %}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Change Password</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="index.html">Change Password</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="login_box_area " style="overflow:hidden !important">

    <div class="row">

        <div class="col-lg-12">

            <div class="login_form_inner">
                <div class="generic-blockquote" style="width:50%;  margin-left: 30%; margin-bottom:40px;">
                    <h3>Change Password</h3>
                    <form class="row login_form" method="post" id="contactForm">
					{% csrf_token %}
                	{% for fm in form %}
                        <div class="col-md-12 form-group">
							 {{fm}}<small class="text-danger">{{fm.errors|striptags}}</small>
                        </div>
					{% endfor %}
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock content %}