{% extends 'base.html' %} {% load static %} 
{% block content %}
<div class="container my-5" >
    <div class="row" style="margin-top:120px;">
        <h3>Welcome, {{request.user.username}}</h3>
        <div class="col-sm-2 border-end">
            
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password Changed Successfully !!</h3>
            <div>
                <iframe src="https://giphy.com/embed/tf9jjMcO77YzV4YPwE" width="280" height="280" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>

                <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="primary-btn">
                        Continue Shopping
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock content %}